In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
url = 'https://media.githubusercontent.com/media/musanchez/DataSets/refs/heads/main/realtor-data.csv'
df = pd.read_csv(url)

df.head() # Verificamos que el dataset se haya cargado correctamente

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN

In [5]:
# Estadísticas descriptivas

# Para mejorar el formato y evitar que aparezcan los exponenciales, podemos usar el método `set_option` de pandas.
pd.set_option('display.float_format', lambda x: '%.2f' % x)

df.describe()

,brokered_by,price,bed,bath,acre_lot,street,zip_code,house_size
count,2221849.00,2224841.00,1745065.00,1714611.00,1900793.00,2215516.00,2226083.00,1657898.00
mean,52939.89,524195.52,3.28,2.50,15.22,1012324.92,52186.68,2714.47
std,30642.75,2138893.22,1.57,1.65,762.82,583763.48,28954.08,808163.52
min,0.00,0.00,1.00,1.00,0.00,0.00,0.00,4.00
25%,23861.00,165000.00,3.00,2.00,0.15,506312.75,29617.00,1300.00
50%,52884.00,325000.00,3.00,2.00,0.26,1012765.50,48382.00,1760.00
75%,79183.00,550000.00,4.00,3.00,0.98,1521173.25,78070.00,2413.00
max,110142.00,2147483600.00,473.00,830.00,100000.00,2001357.00,99999.00,1040400400.00